fastapi
uvicorn
langgraph
langgraph-checkpoint-redis
langchain-openai
langchain-community
langchain-google-community
langchain-text-splitters
python-dotenv
openai
pydantic
duckduckgo-search
tavily-python
requests
faiss-cpu
numpy
pandas
aiohttp
tqdm
more-itertools
